html {
    scroll-behavior: smooth;
}

body {
    margin: 0%; /* displays all the way to the edge */
    opacity: 1; /*transition affect the page loading fade in effect */
    /* transition: 3s opacity;      */
    letter-spacing: .2vw;
    font-family: Avant Garde, Helvetica;
    font-size: 1.5vw;
}

/* contributes to fade effect for page that occurs when the page is loaded */
body.fade-out {
    opacity: .1;
    transform: none;
}

.Navbar {
    overflow: hidden;
    /* hides any content that overflows past the navbar boundary */
    background-color: #1b263b;
    position: fixed;
    /* keeps navbar at the top of the screen as we scroll */
    top: 0;
    /* ensure no space is above navbar */
    width: 100%;
    /* makes navbar span full width */
    z-index: 1;
    /* makes sure no other elements dont display over the navbar */
    position: fixed;
    -webkit-animation: moveNav 5s; 
    /* Safari 4.0-8.0 */
    animation: moveNav 5s; 

}

/* navbar text */
.Navbar a {
    float: left;
    /* this makes the text float on left of navbar */
    display: block;
    /* makes sure other text will display on the same line or row */
    color: white;
    padding: .75vw 1vw;
    /* adds padding around text */
    text-decoration: none;
    /* gets rid of the underlines under the text on navbar */
    font-family: 'Roboto', sans-serif;
    font-size: 1.5vw;
    text-align: center;
    position: relative;
    -webkit-animation: movenavText 5.75s;
    letter-spacing: .2vw;
}

/* The animation effect for moving the nav bar in from above the top of the screen upon page load */
@keyframes moveNav {
    from {left: -100vw;}
    to {left: 0vw;}
  }
  
  /* The animation effect for moving the nav bar in from above the top of the screen upon page load */
  @keyframes movenavText {
    from {top: -100vw;}
    to {top: 0vw;}
  }
  
  
  /* This animation effect causes the overlay video text to move up from the bottom of the page upon page load */
  @keyframes movevideoText {
    from {top: -100vw;}
    to {top: 0px;}
  }


/* navbar hover effect */
.Navbar a:hover {
    background-color: #cea064;
    color: white;
    font-weight: bold;
}

/* navbar home button */
.Navbar a.active { /*active selector styles a link*/
    background-color: #475665;
}

@keyframes zoominoutsinglefeature {
    0% {
        transform: scale(1.5,1.5);
    }
    100% {
        transform: scale(1,1);
    }
}

/* video */
#backgroundVideo {
    position: fixed;
    /* fixes video to page */
    right: 0;
    /* makes sure no space between edge of video and edge of page */
    bottom: 0; 
    /* makes sure no space between edge of video and edge of page */
    min-width: 100%;
    /* video displayed full width */
    min-height: 50%;
    z-index: -1;
    /* content is blocking video */
    animation: zoominoutsinglefeatured 5s;

}

.Video_Text {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    /* padding: 20px; */
    margin-top: 23%;
    width: 100%;
    padding-top: .1vh;
    position: relative;
    -webkit-animation: moveNav 4s;
    animation: movevideoText 4s;

}


/* slideshow styling */
#slideshowBackground {
    background-color: rgba(255,255,255, 0.35);
}

.mySlides {
    display: none;
}

@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
@keyframes fade {
from {opacity: .4} 
to {opacity: 1}
}


/* slideshow section container */
#slideshowContainer {
    width: 39.5vw;
    height: auto;
    padding-top: 4%;
    position: relative;
    margin: auto;
}

/* image in slideshow */
.slideShowImages {
    vertical-align: middle;
    height: auto;
    box-shadow: 0px 5px 10px 12px rgba(0, 0, 0, 0.75);
    width: auto;
}

/* next and prev buttons */
.Previous, .Next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 2vw;
    margin-top: -0vw;
    color: #cea064;
    font-weight: bold;
    font-size: 1.5vm;
    border-radius: 0 3px 3px 0;
    user-select: none;
    transition: .6s ease;
}

/* positioning arrows on slideshow */
.Next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* hover effect on slideshow buttons */
.Previous:hover, .Next:hover {
    background-color: #cea064e3;
    color: #293d63;
    border-radius: 3px;
}

/* slideshow text */
.text {
    color: white;
    padding: 1vw;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: .1vw;
    font-size: 1.5vw;
    background-color: rgba(0, 0, 0, 0.75);
    font-weight: bold;
    border-radius: 7px 7px 7px 7px;
}

/* text 1/6 */
.slideNumber {
    color: white;
    position: absolute;
    top: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: .1vw; 
    font-size: 1.5vw;
    font-weight: bold;
    display: none;
}

/* dots under slideshow */
.dot {
    cursor: pointer;
    height: 1vw;
    width: 1vw;
    margin: .25vw;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    position: relative;
    z-index: 1;
}

/* hover effect for slideshow dots */
.active, .dot:hover {
    background-color: black;
}

/* fading animation for slideshow */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

/* Table - covers styling of the columns and rows within the table */
/* The asterisk is a universal selector that applies this effect to all elements on the page */
* {
    box-sizing: border-box;
    /* creates a box with a border within where we will place most of the text */
}

.Column_1 {
    float: left;
    width: 50%;
    /* take up half the screen */
    padding: 10px;
    padding-top: 3%;
    padding-bottom: 105px;
    /* space between top of solumn and the heading */
    height: 400px; 
    background-color: white;
    /* position: relative;
    text-align: center; */
}

.Column_2 {
    float: left;
    width: 50%;
    /* take up half the screen */
    padding: 10px;
    padding-top: 1.9%;
    /* space between top of solumn and the heading */
    height: 400px; 
    background-color: #475665;
}

/* .Column_3 {
    float: left;
    width: 50%;
    /* take up half the screen */
    /* padding: 10px;
    padding-top: 3.5%; */
    /* space between top of solumn and the heading */
    /* height: 400px; 
    background-color: #475665;
} */ 

/* Inserts something after the content of selected elements */
.Row:after {
    content: "";
    /* leaving this bank we are letting the footer display - removing it makes the footer overwrite a column */
    display: table;
    /* display property specifies the type of display behavior, the table value tells the browser to treat the element as a table */
    clear: both;
    /* clears any elements from floating on the left or right of an element */
}

h1 {
    text-transform: uppercase;
    font-family: "Trebuchet MS", Optima; 
    text-align: center;
    margin-top: 3%;
    color: black;
}

p {
    font-family: Perpetua, Rockwell Extra Bold;
    text-align: justify;
	letter-spacing: .1vw; /* This expands the text slightly */
	font-size: 1.5vw;
	padding-left: 1vw;
	padding-right: 1vw;
}

/* center align elements */
center {
    font-family: Perpetua, Rockwell Extra Bold;
    text-align: center;
	letter-spacing: .1vw;
	font-size: 1.5vw;
	padding-left: 5vw;
	padding-right: 5vw;
}

/* all anchor tags */
a {
    color: blue;
}

/* quote */
q {
    font-style: italic;
    font-weight: bold;
}

/* image element */
img {
    filter: grayscale(75%);
    max-width: 100%; 
	height: 100%;
    margin: auto auto auto auto;
	display: block;	/* By specifying block display we can ensure our images are able to be centered */
}

/* picture size */
.photos {
    width: 120%;
    height: 100%;
}

/* contact form */
/* Contact form styling */

/* Makes contact form button slide in from right on page load */
@keyframes movePopup {
    from {right: -40vw;}
    to {bottom: 1.75vw;}
}

/* Button used to open the contact form - fixed at the bottom of the page */
.popUpButton {
    bottom: 1.75vw;
    right: 1.75vw;
    width: 25vw;  
    background-color: #f7bb6dfa;
    color: black;
    border: solid;
    cursor: pointer;
    position: fixed;
    border-radius: 2px;
    -webkit-animation: movePopup 5s;
    animation: movePopup 5s;
}

/* The popup form - hidden by default */
.formPopup {
    border: 3px solid #f0f1f0;
    z-index: 8;
    display: none;
    position: fixed;
    bottom: 6px;
    right: 6px;
}

/* Form styling */
.formContainer {
    max-width: 49vw;
    padding: 9px;
    background-color: white;
}

/* Input fields */
.formContainer input[type=text], .formContainer input[type=password] {
    width: 100%;
    padding: .93vw;
    margin: .6vw 0 .6vw 0;
    border: none;
    background: Gainsboro;
    font-family: Helvetica, Avant Garde;
    font-size: 1vw; 
}

/* Submit button */
.formContainer .btn {
    background-color: white;
    color: black;
    border-color: black;
    margin-bottom:1vh;
}

/* Close button */
.formContainer .cancel {
    background-color: rgb(27, 27, 27);
    color: white;
    border-color: gray;
}

/* Button styling */
button {
    font-family: "Trebuchet MS", Optima; 
    letter-spacing: .3vw; 
    font-size: 1.5vw;
    font-weight: bold;
    padding: 1.5vw 1.5vw;
    border-style: solid;
    cursor: pointer;
    width: 100%;
    height: auto;
}

/* Hover effect for buttons */
button:hover, .formContainer .btn:hover{
    color: black;
    background-color: #ffcb86;
    -webkit-transition-duration: 1s; 
    transition-duration: 1s;
    border-style: solid;
    border-color: silver;
}
.formContainer .cancel:hover{
    color: white;
    background-color: rgb(0, 0, 0);
    -webkit-transition-duration: 1s; 
    transition-duration: 1s;
    border-style: solid;
    border-color: white;
}	


/* footer element */ 
footer {
    padding: 5px;
    background-color: #475665;
}

/* 
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  } */